head{
    width:100%;
}
body{
    width:100%;
    padding-top:30px;
    overflow-x: hidden;
    padding-bottom: 40px;
}
.input_div{
    position:absolute;
    left:50%;
    transform: translate(-50%);
}
textarea{
   width:400px;
   padding: 30px;
   border:1px solid red;
   resize: none;
   text-align: center;
}
button{
    text-align: center;
    width:462px;
    padding:20px
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
td{
    border:1px solid black;
    padding:10px;
    text-align: center;
}
.truth{
    width:100%;
    position: absolute;
    top: 400px;
}